.movie-card {
  max-width: 360px;
  margin: 0;
  padding: 0;
  background: #202020;
  list-style-type: none;
}

.movie-card__info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.movie-card__container {
  display: flex;
  gap: 14px;
  position: relative;
  flex-direction: column;
}

.movie-card__duration {
  margin: 0;
  width: 52px;
  height: 16px;
  padding-top: 5px;
  text-align: center;
  background-color: #2f2f2f;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
}

.movie-card__name {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.movie-card__button {
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  color: #ffffff;
  box-sizing: border-box;
  position: absolute;
  top: 14px;
  right: 14px;
  background: #313131;
  border: none;
  border-radius: 30px;
  width: 72px;
  height: 21px;
}

.movie-card__button-saved {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/save3.svg");
}

.movie-card__button-del {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/del-button.svg");
}

.movie-card__img {
  width: 100%;
  max-height: 205px;
  object-fit: cover;
}

.movie-card__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.movie-card__button-del:hover {
  cursor: pointer;
  opacity: 0.6;
}

.movie-card__button-saved:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1205px) {
  .movie-card {
    max-width: 320px;
  }
}

@media screen and (max-width: 940px) {
  .movie-card {
    max-width: 300px;
  }
  
  .movie-card__name {
    line-height: 15px;    
    font-size: 12px;

  }
}
