.profile {
  padding: 74px 0 70px 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
  background: #202020;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 120px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin: 0 auto;
}

.profile__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}

.profile__label:last-child {
  border-bottom: none;
}

.profile__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  width: 90%;
  background: #202020;
  border: none;
  text-align: end;
}

.profile__label-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 17px;
}

.profile-button-disabled {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: grey;
  margin-top: 220px;
  padding: 0;
  border: none;
  background-color: #202020;
}

.profile__exit-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  margin: 0 auto;
  margin-top: 16px;
}

.profile__exit-link:hover {
  opacity: 0.6;
}

.profile-button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 220px;
  padding: 0;
  border: none;
  background-color: #202020;
}

.profile-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__text {
  display: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #3ddc84;
  margin: 0;
}

.profile__text_visible {
  display: block;
}

@media screen and (max-width: 940px) {
  .profile {
    width: 100%;
    padding: 200px 0 200px 0;
  }
}

@media screen and (max-width: 769px) {
  .profile {
    padding: 236px 0 269px 0;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    width: 100%;
    padding: 30px 70px 30px 40px;
  }
  .profile__form {
    width: 100%;
  }
  .profle-button {
    margin-top: 379px;
  }
}
