.profile {
  max-width: 1280px;
  width: 100%;
  padding: 50px;
  margin: 24px auto 20px;
  box-sizing: border-box;
  text-align: center;
  min-height: 586px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 123px;
}

.profile__error {
  min-height: 14px;
  margin-top: auto;
  font-size: 11px;
  line-height: normal;
  color: var(--warning);
}

.form_profile {
  max-width: 410px;
  width: 100%;
  row-gap: 17px;
  height: 100%;
  min-height: 314px;
}

.form__submit_profile {
  background-color: var(--promo);
  border: none;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: normal;
  padding: 13px 15px 15px;
  color: var(--light);
  border-radius: 3px;
}

.form__submit_profile:disabled {
  background-color: var(--disable);
  color: var(--disable-text);
  opacity: 1;
}

.form_profile .form__label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  text-align: start;
}

.form_profile .form__label:first-of-type {
  border-bottom: 1px solid var(--decoration);
}

.form_profile .form__label:last-of-type {
  margin-bottom: auto;
}

.form_profile .form__input {
  order: 1;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}

.form__button_activated {
  margin-bottom: 16px;
  color: var(--dark);
  margin-top: -32px;
  z-index: 10;
}

.form_profile .form__input:disabled {
  background-color: transparent;
  color: var(--dark);
}
