.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.error__container {
  padding-top: 246px;
}

@media screen and (max-width: 768px) {
  .error__container {
    padding-top: 407px;
  }
}

@media screen and (max-width: 525px) {
  .error__container {
    padding-top: 329px;
  }
}

.error__title {
  font-size: 140px;
  font-weight: 400;
  margin: 0 0 5px 0;
  text-align: center;
  color: var(--main-font-color);
  line-height: normal;
}

@media screen and (max-width: 525px) {
  .error__title {
    font-size: 80px;
    margin-bottom: 10px;
  }
}

.error__text {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 184px 0;
  text-align: center;
  color: var(--main-font-color);
  line-height: normal;
}

@media screen and (max-width: 525px) {
  .error__text {
    font-size: 12px;
    margin-bottom: 285px;
  }
}

.error__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #4285f4;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 525px) {
  .error__link {
    font-size: 12px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .error__link:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
