.portfolio {
  padding: 50px 70px 125px 70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background: #202020;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
}

.portfolio__list {
  list-style-type: none;
  padding: 0;
}

.portfolio__title {
  margin: 0;
  width: 250px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
}

.portfolio__text {
  padding-top: 20px;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-decoration: none;
}

.portfolio__element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 12px;
}

.portfolio__element:hover {
  box-shadow: inset 0 0 0 1px #3ddc84;
}

.portfolio__element:last-child {
  border-bottom: none;
}

@media screen and (max-width: 940px) {
  .portfolio {
    padding: 45px 50px 90px 50px;
  }
  .portfolio__text {
    font-size: 28px;
  }
}

@media screen and (max-width: 550px) {
  .portfolio {
    padding: 35px 14px 70px 14px;
  }
  .portfolio__title {
    font-size: 14px;
  }
  .portfolio__text {
    line-height: 28px;
    font-size: 18px;
  }
}
