.header {
  padding: 18px 70px 18px 70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
  background: #073042;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
}

.header-black {
  padding: 18px 70px 18px 70px;
  background: #202020;
  box-sizing: border-box;
}

.logo {
  transition-property: transform;
  transition-duration: 5s;
  transition-timing-function: ease;
  width: 38px;
  height: 38px;
}

.logo:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.header__content {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.header__register {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__signin {
  width: 76px;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  border: none;
  background: #3ddc84;
  border-radius: 3px;
}

.header__register:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__signin:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 940px) {
  .header {
    padding: 18px 30px 18px 30px;
  }
  .header-black {
    padding: 18px 30px 18px 30px;
  }
}

@media screen and (max-width: 470px) {
  .header-black {
    padding: 18px 14px 18px 14px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding: 18px 14px 18px 14px;
  }
  .header__signin {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }

  .header__register {
    font-size: 10px;
  }

  .header__navigation {
    gap: 14px;
  }

  .logo__form {
    margin: 0 auto;
  }
}
