.checkbox-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  background: #202020;
}

.checkbox-content__label {
  width: 36px;
  height: 20px;
  background: #3ddc84;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.checkbox-content__input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.checkbox-content__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 12px;
}

.checkbox-content__label .checkbox-content__switch-button {
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.checkbox-content__input:checked
  + .checkbox-content__label
  .checkbox-content__switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.checkbox-content__label:active .checkbox-content__switch-button {
  width: 60px;
}
