.burger-menu {
  display: none;
}

@media screen and (max-width: 769px) {
  .burger-menu {
    display: block;
    width: 44px;
    height: 44px;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-image: url(../../images/burger-menu.svg);
  }

  .burger-menu:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
