.about-project {
  text-rendering: optimizeLegibility;
  padding: 110px 70px 110px 70px;
  background: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
}

.about-project__containers {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  gap: 70px;
}

.about-project__info {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.about-project__subtitle {
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about-project__time {
  display: flex;
  flex-direction: row;
}

.about-project__backend {
  background-color: #3ddc84;
  width: 228px;
  height: 36px;
}

.about-project__text {
  margin: 0 auto;
  margin-top: 26px;
  max-width: 550px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.about-project__time-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  padding: 9px 14px;
  text-align: center;
  color: #000000;
}

.about-project__frontend {
  background-color: #303030;
  width: 912px;
  height: 36px;
}

.about-project__time-note {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  color: #8b8b8b;
}

.about-project__accent {
  color: #ffffff;
}

@media screen and (max-width: 940px) {
  .about-project {
    padding: 90px 50px 90px 50px;
  }

  .about-project__text {
    max-width: 319px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
    text-align: start;
  }

  .about-project__containers {
    gap: 90px;
  }
}

@media screen and (max-width: 768px) {
  .about-project {
    max-width: 768px;
    padding: 90px 50px 90px 50px;
  }
  .about-project__containers {
    gap: 30px;
  }

  .about-project__info {
    gap: 93px;
  }

  .about-project__frontend {
    width: 528px;
  }

  .about-project__backend {
    width: 140px;
  }
}

@media screen and (max-width: 550px) {
  .about-project {
    padding: 70px 18px 70px 18px;
  }

  .about-project__containers {
    flex-direction: column;
    margin-top: 60px;
    gap: 56px;
  }

  .about-project__info {
    justify-content: center;
    align-items: center;
  }

  .about-project__textt {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
    margin-top: 16px;
  }

  .about-project__subtitle {
    line-height: 22px;
    font-size: 18px;
  }

  .about-project__frontend {
    width: 184px;
  }

  .about-project__backend {
    width: 100px;
  }
}
