.footer {
  padding: 80px 70px 20px 70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
  background: #202020;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #424242;
}

.footer__text {
  margin: 0;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
}

.footer__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer__year {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 940px) {
  .footer {
    padding: 80px 30px 20px 30px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 60px 10px 20px 10px;
  }

  .footer__list {
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__content {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__text {
    line-height: 15px;
    font-size: 12px;
  }
  .footer__year {
    color: #8b8b8b;
  }

  .footer__link {
    line-height: 15px;
    font-size: 12px;
  }
}
