.burger-popup {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger-popup {
   position: fixed; 
   visibility: hidden;
    display: block;
    z-index: 1;
    opacity: 0;
    height: 1935px;
    transition: visibility 0.3s, opacity 0.3s;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .burger-popup__content {
    background-color: #272727;
    height: 100%;
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 460px;
  }

  .burger-popup_opened {
    visibility: visible;
    opacity: 1;
  }

  .burger-popup__close {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/close-button.svg);
  }

  .burger-popup__close:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  .burger-popup__links {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 28px;
    font-family: "Inter", Arial, "sans-serif";
    font-style: normal;
    list-style-type: none;
    padding: 0;
    margin-top: 159px;
  }

  .burger-popup__link {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 22px;
    color: #ffffff;
    display: block;
    text-align: center;
  }

  .burger-popup__link-active {
    text-underline-offset: 9px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .burger-popup__link:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  .burger-popup__profile {
    border: none;
    background-color: inherit;
    border: 2px solid rgb(170, 170, 170, 0.3);
    border-radius: 50px;
    width: 100px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-image: url("../../images/profile-icon.svg");
  }

  .burger-popup__profile:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  .burger-popup__profile-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    margin-top: 7px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 460px) {
  .burger-popup__content {
    width: 100vw;
    gap: 300px;
    background-color: #202020;
  }

  .popup-nav__link {
    margin-bottom: 24px;
  }

  .burger-popup__links {
    margin-top: 144px;
  }
}
