.techs {
  padding: 100px 70px 1px 70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  background: #272727;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
}

.techs__info {
  margin: 0 auto;
}

.techs__title {
  margin: 0 auto;
  margin: 90px auto 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.techs__wrapper {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.techs__text {
  margin: 0 auto;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.techs__card {
  background: #303030;
  border-radius: 10px;
  width: 90px;
  height: 60px;
}

.techs__card-text {
  color: #ffffff;
  margin: 0 auto;
  margin-top: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}

@media screen and (max-width: 940px) {
  .techs {
    padding: 90px 50px 90px 50px;
  }

  .techs__text {
    line-height: 18px;
    font-size: 12px;
  }
  .techs__title {
    margin: 80px auto 22px;
  }

  .techs__card {
    height: 57px;
    width: 84px;
  }

  .techs__card-text {
    line-height: 17px;
    font-size: 12px;
  }

  .techs__wrapper {
    margin: 83px auto 0 auto;
  }
}

@media screen and (max-width: 684px) {
  .techs__wrapper {
    max-width: 188px;
  }
  .techs__cards {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 550px) {
  .techs {
    padding: 70px 14px 70px 14px;
  }
  .techs__title {
    font-size: 30px;
    line-height: 36px;
    margin: 60px auto 24px;
  }
  .techs__text {
    line-height: 16px;
    font-size: 11px;
  }
}
