.error {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error__title {
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  margin: 245px 0 4px;
}

.error__text {
  font-size: 16px;
  margin: 0 0 184px;
  line-height: normal;
}

.error__link {
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: var(--accent);
}

@media (max-width:920px) {
  .error__title {
    margin-top: 408px;
  }

}

@media (max-width: 520px) {
  .error__title {
    margin-top: 329px;
    font-size: 80px;
    line-height: normal;
    margin-bottom: 10px;
  }

  .error__text {
    font-size: 12px;
    margin-bottom: auto;
  }

  .error__link {
    font-size: 12px;
    margin-bottom: 30px;
  }
}