.nav-tab {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #272727;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
}

.nav-tab__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #ffffff;
}

.nav-tab__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
  justify-content: center;
}

.nav-tab__list:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .nav-tab {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .nav-tab__list {
    padding: 0;
    gap: 24px;
    width: 100%;
  }
  .nav-tab__link {
    font-size: 11px;
  }
}
